<div class="section group container bgcolor-white" id="music" data-section="music">				
    <div class="col span_1_of_8 section-title">
		<h1>music</h1>
	</div>                
	<div class="col span_6_of_8">
		<div id="covers_container" style="height: 1300px !important;">
            <ul id="covers" class="group">
                <li>
					<a href="/music-open.html">
						<img alt=" " src="https://www.indybay.org/uploads/2014/09/15/10330500_10154503867850338_459971571797999556_n.jpg" />
						<div>
                            <h3>State of Heart</h3>
                            <span>Audiopharmacy 2014</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="/music-open.html">
						<img alt=" " src="http://www.rockwired.com/uforgotaboutuscd.jpg" />
                        <div>
                            <h3>U Forgot About Us</h3>
                            <span>Audiopharmacy 2009</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/music-open.html">
                        <%= image_tag("discography/1.jpg") %>
                        <div>
                            <h3>Cadillacs and Cockroaches</h3>
                            <span>Pasha Brown</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<%= image_tag("discography/2.jpg") %>
						<div>
                            <h3>Street Prison</h3>
                            <span>Ras'K'Dee</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<%= image_tag("discography/4.jpg") %>
                        <div>
                            <h3>Spare Change</h3>
                            <span>Audiopharmacy 2007</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <%= image_tag("discography/6.jpg") %>
                        <div>
                            <h3>Heavenly weaponry</h3>
                            <span>Audiopharmacy 2009</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<%= image_tag("discography/7.jpg") %>
						<div>
                            <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<%= image_tag("discography/8.jpg") %>
                        <div>
                           <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <%= image_tag("discography/6.jpg") %>
                        <div>
                            <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<%= image_tag("discography/7.jpg") %>
						<div>
                            <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
						</div>
                    </a>
                </li>
                <li>
					<a href="music-open.html">
						<%= image_tag("discography/6.jpg") %>
                        <div>
                           <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <%= image_tag("discography/6.jpg") %>
                        <div>
                           <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li> 
				<li>
					<a href="music-open.html">
						<%= image_tag("discography/6.jpg") %>
                        <div>
                           <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <%= image_tag("discography/2.jpg") %>
                        <div>
                            <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="music-open.html">
                        <%= image_tag("discography/6.jpg") %>
                        <div>
                            <h3>[Album title]</h3>
                            <span>Artist (Date)</span>
                            <hr>
                            <h4>Click for details</h4>
                        </div>
                    </a>
                </li>  
            </ul>
        </div>
	</div>				
    <div class="col span_1_of_8 section-nav">
		<h1>
            <a href="/pages/band">
                <span class="fa fa-chevron-right"></span>
            </a>
        </h1>
	</div>
</div>
    